.row.justify-content-center.pt-3.pb-5
  .col.col-md-6.text-center
    h3.py-4 Como usar no JAVASCRIPT:
    p Este exemplo usa Zepto.
    p Faça um ajax para a API que retorna o JSON.
    p Pegue o retorno em base64 e use como uma imagem.
    h3.py-4 Código - HTML:
    script(src="https://gist.github.com/digitalbocca/d2ce586fb54b5079eb3c2ec754c6137f.js?file=JavascriptHTML.md")
    h3.py-4 Código - Zepto:
    script(src="https://gist.github.com/digitalbocca/d2ce586fb54b5079eb3c2ec754c6137f.js?file=JavascriptJQuery.md")
    h3.py-4 Resultado:
    p#imagem
