.row.justify-content-center.pt-3.pb-5
  .col.col-lg-6.text-center
    h3.py-4 Como usar no JAVASCRIPT:
    p Este exemplo usa axios para fazer a chamada HTTP.
    p Use o axios para consultar a API que retorna o JSON.
    p Pegue o retorno em base64 e use como uma imagem.
    h3.py-4 Código - HTML:
    script(src="https://gist.github.com/digitalbocca/d2ce586fb54b5079eb3c2ec754c6137f.js?file=JavascriptHTML.md")
    h3.py-4 Código - Javascript:
    script(src="https://gist.github.com/digitalbocca/506fd45afdbf8e66d234bcb838b56507.js")
    h3.py-4 Resultado:
    #imagem
