doctype html
//-
//-
//-                         88  88           
//-                         88  88           
//-                         88  88           
//-     ,adPPYba,   ,adPPYb,88  88,dPPYba,   
//-    a8P_____88  a8"    `Y88  88P'    "8a  
//-    8PP"""""""  8b       88  88       d8  
//-    "8b,   ,aa  "8a,   ,d88  88b,   ,a8"  
//-     `"Ybbd8"'   `"8bbdP"Y8  8Y"Ybbd8"'   
//-
//-                                         
//-     (c)2017-2020 Estúdio Digital Bocca
//-
//-
//-
//-
//-
//-
//- index.pug - Parte do Projeto digitalbocca/ImagemBase64
//- https://github.com/digitalbocca/ImagemBase64
//-
//- Exemplo da implementação: 
//- https://estudiodigitalbocca.com.br/labs/ImagemBase64
//-
//- Ferramentas:
//-
//- ASCII ART: http://patorjk.com/software/taag/#p=display&f=Univers&t=edb 
//- Paletas de Gradiente por: http://uigradients.com
//- GitHub Corners por: http://tholman.com/github-corners/
//- JSON: https://www.npoint.io/
//-
html(lang="pt-br")
  include head.pug
  include body.pug
