doctype html
//-
//- (c)2017-2019 Estúdio Digital Bocca
//-
//- index.pug - Parte do Projeto digitalbocca/ImagemBase64
//- https://github.com/digitalbocca/ImagemBase64
//-
//- Exemplo: https://digitalbocca.github.io/ImagemBase64/
//-
//- Dependências:
//-
//- Paletas de Gradiente por: http://uigradients.com
//- GitHub Corners por: http://tholman.com/github-corners/
//- JSON Bin: https://jsonbin.io
//- Zepto JS: http://zeptojs.com
//-
html(lang="pt-br")
  include head.pug
  include body.pug